<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732350970131-9cqg0dpt2turgtp12rdc8n3ojsgmj201.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732350970131-9cqg0dpt2turgtp12rdc8n3ojsgmj201</string>
	<key>API_KEY</key>
	<string>AIzaSyCRfEVupNttH223MzbPjZfU4AC355-JIts</string>
	<key>GCM_SENDER_ID</key>
	<string>732350970131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.espeChat</string>
	<key>PROJECT_ID</key>
	<string>chatappespe</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappespe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732350970131:ios:50c91fd8ae5ed6f57902e6</string>
</dict>
</plist>